<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Macros</title>
    </head>
    <body> 
        <div id="app"> 
            <v-dialog v-model="settings" width="300px">
                <v-card>
                    <v-container>
                        <!--
                        <v-row :justify="'center'"> <v-col cols="auto"> <v-text-field outlined label="Goal Calories" v-model="goalCals"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row :justify="'center'"> <v-col cols="auto"> <v-text-field
                                    outlined label="Goal Protein" v-model="goalProtein"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row :justify="'center'"> <v-col cols="auto"> <v-text-field
                                    outlined label="Goal Carbs" v-model="goalCarbs"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row :justify="'center'"> <v-col cols="auto"> <v-text-field
                                    outlined label="Goal Fat" v-model="goalFat"></v-text-field>
                            </v-col>
                        </v-row>
                        -->
                        <v-row :justify="'center'">
                            <v-col cols="auto">
                                <v-switch
                                    v-model="compact"
                                    label="Compact Cards"
                                    >
                                </v-switch>
                            </v-col>
                        </v-row>
                        <v-row :justify="'center'">
                            <v-col cols="auto">
                                <v-textarea outlined label="Export" readonly
                                    v-model="JSON.stringify(history)"></v-textarea>
                            </v-col>
                        </v-row>
                        <v-row :justify="'center'">
                            <v-col cols="auto">
                                <v-textarea outlined label="Import"
                                    v-model="importData"></v-textarea>
                            </v-col>
                        </v-row>
                        <v-row :justify="'center'">
                            <v-col cols="auto">
                                <v-dialog v-model="clearDialog" width=250px>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn text color="red"
                                            v-on="on" v-bind="attrs"
                                            >Clear Data</v-btn>
                                    </template>
                                    <v-card>
                                        <v-container>
                                            <v-row :justify="'center'">
                                                <v-col cols="auto">
                                                    Are you sure?
                                                </v-col>
                                            </v-row>
                                            <v-row :justify="'center'">
                                                <v-col cols="auto">
                                                    <v-btn text color="red"
                                                        @click="clearDialog=false;clearData()">
                                                        Yes
                                                    </v-btn>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card>
                                </v-dialog>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
            </v-dialog>
            <v-dialog v-model="dialog" width="250px">
                <v-card>
                    <v-container>
                        <v-row :justify="'center'">
                            <v-col cols="auto">
                                Calories: {{ this.totalCalories }}
                            </v-col>
                        </v-row>
                        <v-row :justify="'center'">
                            <v-col cols="auto">
                                Protein: {{ this.totalProtein }}
                            </v-col>
                        </v-row>
                        <v-row :justify="'center'">
                            <v-col cols="auto">
                                Carbs: {{ this.totalCarbs }}
                            </v-col>
                        </v-row>
                        <v-row :justify="'center'">
                            <v-col cols="auto">
                                Fat: {{ this.totalFat }}
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
            </v-dialog>
            <v-dialog v-model="dialogEdit" width="400px" fullscreen hide-overlay>
                <v-card>
                    <v-container>
                        <v-row dense>
                            <v-col>
                                <v-text-field label="Name" v-model="entryToEdit.name" outlined></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row dense>
                            <v-col>
                                <v-text-field label="Calories" v-model="entryToEdit.calories"
       outlined type="number" min="0"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row dense>
                            <v-col>
                                <v-text-field label="Protein" v-model="entryToEdit.protein"
       outlined type="number" min="0" suffix="g"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row dense>
                            <v-col>
                                <v-text-field label="Carbs" v-model="entryToEdit.carbs"
       outlined type="number" min="0" suffix="g"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row dense>
                            <v-col> 
                                <v-text-field label="Fat" v-model="entryToEdit.fat" outlined
       type="number" min="0" suffix="g"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row dense>
                            <v-col> 
                                <v-text-field label="Servings" v-model="entryToEdit.amount"
       outlined type="number" min="0"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row dense :justify="'center'">
                            <v-col cols="auto">
                                <v-btn @click="dialogEdit=false" text>
                                    Done
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
           </v-dialog>
            <v-app> 
                <v-container>
                    <v-row :justify="'center'">
                        <v-col cols="auto">
                            <h1 @click="dialog = true">{{ this.totalCalories }}</h1>
                        </v-col>
                    </v-row>
                    <v-row :justify="'end'" dense style="padding-right: 10px;">
                        <v-col cols="auto">
                            <v-icon color="grey" @click="settings=true">mdi-cog</v-icon>
                        </v-col>
                    </v-row>
                    <v-row :justify="'center'" dense>
                        <v-col cols="auto">
                            <add-food @createfood="create($event)"></add-food>
                        </v-col>
                    </v-row>
                    <v-row :justify="'center'">
                        <v-col cols="auto">
                            <history @increase="increaseDay()" @decrease="decreaseDay()"
                               @remove="removeEntry($event)" @edit="editEntry($event)"
                            :current-date="this.currentDate" :entries="this.entries"
                            :compact="this.compact"></history>
                        </v-col>
                    </v-row>
                </v-container>
            </v-app>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>

        Vue.component("history",{
            props: ['entries', 'current-date','compact'],
            data() {
                return {
                }
            },
            methods: {
                formatDate(dateParam) { 
                    return dateParam.getMonth()+1 + "/" + dateParam.getDate() + "/" + dateParam.getFullYear();
                },
            },
            template: `
                <v-container>
                    <v-row :justify="'center'">
                        <v-col cols="auto">
                            <h2>History</h2>
                        </v-col>
                    </v-row>
                    <v-row :justify="'center'" dense>
                        <v-col cols="auto">
                            <p><v-icon color="white" @click="$emit('decrease')">mdi-chevron-left</v-icon></p>
                        </v-col>
                        <v-col cols="auto">
                            {{ formatDate(currentDate) }}
                        </v-col>
                        <v-col cols="auto">
                            <p><v-icon color="white" @click="$emit('increase')">mdi-chevron-right</v-icon></p>
                        </v-col>
                    </v-row>
                    <v-row v-for="(entry, i) in entries" :justify="'center'"
       style="padding-bottom: 10px" :key=i>
                        <v-card width=500px> 
                            <v-col> <v-container v-if="!compact">
                                    <v-row dense :justify="'start'">
                                        <v-col maxcols="10">
                                            <h3>{{ entry.name }}</h3> 
                                        </v-col>
                                        <v-col cols="auto">
                                           <v-icon color="grey"
       @click="$emit('edit',i)">mdi-pencil</v-icon>
                                        </v-col>
                                        <v-col cols="auto">
                                            <v-icon color="red" @click="$emit('remove',i)">mdi-close</v-icon>
                                        </v-col>
                                    </v-row>
                                    <v-row dense>
                                        <v-col>
                                            Calories: {{ entry.calories }}
                                        </v-col>
                                    </v-row>
                                    <v-row dense>
                                        <v-col>
                                            Protein: {{ entry.protein }}
                                        </v-col>
                                    </v-row>
                                    <v-row dense>
                                        <v-col>
                                            Carbs: {{ entry.carbs }}
                                        </v-col>
                                    </v-row>
                                    <v-row dense>
                                        <v-col>
                                            Fat: {{ entry.fat }}
                                        </v-col>
                                    </v-row>
                                    <v-row dense>
                                        <v-col>
                                            Servings: {{ entry.amount }}
                                        </v-col>
                                    </v-row>
                                </v-container>
                                <v-container v-else>
                                    <v-row dense :justify="'start'">
                                        <v-col maxcols="10">
                                            <h3>{{ entry.name }}</h3> 
                                        </v-col>
                                        <v-col cols="auto">
                                           <v-icon color="grey"
       @click="$emit('edit',i)">mdi-pencil</v-icon>
                                        </v-col>
                                        <v-col cols="auto">
                                            <v-icon color="red" @click="$emit('remove',i)">mdi-close</v-icon>
                                        </v-col>
                                    </v-row>
                                    <v-row dense>
                                        <v-col>
       Cals: {{ entry.calories }} / Pro: {{ entry.protein }} / Carb: {{ entry.carbs }}
       / Fat:
       {{ entry.fat }}  / Ser: {{ entry.amount }}
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-col>
                        </v-card> 
                    </v-row>
                </v-container>
            `,
    
        });

        Vue.component("addFood",{
            props: ["value"],
            data() {
                return {
                    newFood: {
                        name: "",
                        calories: "",
                        protein: "",
                        carbs: "",
                        fat: "",
                        amount: 1,
                    },
                }
            },
            methods: {
                resetNewFood() {
                    this.newFood = {
                        name: "",
                        calories: "",
                        protein: "",
                        carbs: "",
                        fat: "",
                        amount: 1,
                    };
                }
            },
            template: `
                <v-card width=500px>
                    <v-container>
                        <v-row dense>
                            <v-col>
                                <v-text-field label="Name" v-model="newFood.name" outlined></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row dense>
                            <v-col>
                                <v-text-field label="Calories" v-model="newFood.calories"
       outlined type="number" min="0"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row dense>
                            <v-col>
                                <v-text-field label="Protein" v-model="newFood.protein"
       outlined type="number" min="0" suffix="g"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row dense>
                            <v-col>
                                <v-text-field label="Carbs" v-model="newFood.carbs"
       outlined type="number" min="0" suffix="g"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row dense>
                            <v-col> 
                                <v-text-field label="Fat" v-model="newFood.fat" outlined
       type="number" min="0" suffix="g"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row dense>
                            <v-col> 
                                <v-text-field label="Servings" v-model="newFood.amount"
       outlined type="number" min="0"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row :justify="'center'" dense>
                            <v-col cols="auto">
                                <v-btn color="primary"
                    @click="$emit('createfood',newFood); resetNewFood();">Add Food</v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
            `,
        });

        new Vue({
            el: '#app',
            vuetify: new Vuetify({
                theme: {
                    dark: true
                }
            }),
            data() {
                return {
                    currentDate: new Date(),
                    dateIndex: -1,
                    history: [],
                    dialog: false,
                    dialogEdit: false,
                    entryToEdit: {},
                    settings: false,
                    clearDialog: false,
                    compact: false,
                    // goalCals: 0,
                    // goalProtein: 0,
                    // goalCarbs: 0,
                    // goalFat: 0,
                    importData: '',
                }
            },
            computed: {
                entries() {
                    if (this.dateIndex != -1 && this.history.length > 0) {
                        return this.history[this.dateIndex].entries;
                    }
                },
                totalCalories() {
                    if (this.dateIndex != -1 && this.history.length > 0) {
                        let sum = 0;
                        for (let i = 0; i < this.history[this.dateIndex].entries.length; i++) {
                            sum += this.history[this.dateIndex].entries[i].calories *
                                       this.history[this.dateIndex].entries[i].amount;
                        }
                        return Math.round(sum*100)/100;
                    }
                },
                totalProtein() {
                    if (this.dateIndex != -1 && this.history.length > 0) {
                        let sum = 0;
                        for (let i = 0; i < this.history[this.dateIndex].entries.length; i++) {
                            sum += this.history[this.dateIndex].entries[i].protein *
                                       this.history[this.dateIndex].entries[i].amount;
                        }
                        return Math.round(sum*100)/100;
                    }
                },
                totalCarbs() {
                    if (this.dateIndex != -1 && this.history.length > 0) {
                        let sum = 0;
                        for (let i = 0; i < this.history[this.dateIndex].entries.length; i++) {
                            sum += this.history[this.dateIndex].entries[i].carbs *
                                       this.history[this.dateIndex].entries[i].amount;
                        }
                        return Math.round(sum*100)/100;
                    }
                },
                totalFat() {
                    if (this.dateIndex != -1 && this.history.length > 0) {
                        let sum = 0;
                        for (let i = 0; i < this.history[this.dateIndex].entries.length; i++) {
                            sum += this.history[this.dateIndex].entries[i].fat *
                                       this.history[this.dateIndex].entries[i].amount;
                        }
                        return Math.round(sum*100)/100;
                    }
                },
            },
            methods: {
                formatDate(dateParam) { 
                    return dateParam.getMonth()+1 + "/" + dateParam.getDate() + "/" + dateParam.getFullYear();
                },
                // Slow
                findDateIndex() {
                    let found = false;
                    for (let i = 0; i < this.history.length; i++) {
                        if (this.history[i].dateObj === this.formatDate(this.currentDate)) {
                            this.dateIndex = i;
                            found = true;
                            break;
                        }
                   } 
                   if (!found) {
                       this.history.push({ dateObj: this.formatDate(this.currentDate), entries: []});
                       this.dateIndex = this.history.length - 1;
                       localStorage.setItem('history',JSON.stringify(this.history));
                       this.save();
                   }
                }, create(food) { if (
                            food.name &&
                            Number(food.calories) >= 0 &&
                            Number(food.amount) >= 0
                        ) {
                        
                        let foodCopy = {
                            name: food.name,
                            calories : Math.round(Number(food.calories)*100)/100,
                            protein : Math.round(Number(food.protein)*100)/100,
                            carbs : Math.round(Number(food.carbs)*100)/100,
                            fat : Math.round(Number(food.fat)*100)/100,
                            amount : Math.round(Number(food.amount)*100)/100,
                        };
                        this.history[this.dateIndex].entries.push(foodCopy);
                        this.save();
                    }
                },
                increaseDay() {
                    this.currentDate = new Date(this.currentDate.setDate(this.currentDate.getDate()+1));
                    this.findDateIndex();
                },
                decreaseDay() {
                    this.currentDate = new Date(this.currentDate.setDate(this.currentDate.getDate()-1));
                    this.findDateIndex();
                },
                removeEntry(index) {
                    this.history[this.dateIndex].entries.splice(index,1);
                    this.save();
                },
                editEntry(index) {
                    this.entryToEdit = this.history[this.dateIndex].entries[index];
                    this.dialogEdit = true;
                },
                save() {
                    localStorage.setItem('history',JSON.stringify(this.history));
                    localStorage.setItem('compact',JSON.stringify(this.compact));
                    // localStorage.setItem('goalCals',this.goalCals);
                    // localStorage.setItem('goalProtein',this.goalProtein);
                    // localStorage.setItem('goalCarbs',this.goalCarbs);
                    // localStorage.setItem('goalFat',this.goalFat);
                },
                clearData() {
                    localStorage.clear();
                    this.history = [];
                    this.findDateIndex();
                    // this.findDateIndex();
                    // this.goalCals = 0;
                    // this.goalProtein = 0;
                    // this.goalCarbs = 0;
                    // this.goalFat = 0;
                },
            },
            mounted() {
                this.history = localStorage.getItem('history') ? JSON.parse(localStorage.getItem('history')) : [];
                this.compact = localStorage.getItem('compact') ?  JSON.parse(localStorage.getItem('compact')) : false;
                this.findDateIndex();
                // this.goalCals = localStorage.getItem('goalCals') ?
                //             localStorage.getItem('goalCals') : 0;
                // this.goalProtein = localStorage.getItem('goalProtein') ?
                //             localStorage.getItem('goalProtein') : 0;
                // this.goalCarbs = localStorage.getItem('goalCarbs') ?
                //             localStorage.getItem('goalCarbs') : 0;
                // this.goalFat = localStorage.getItem('goalFat') ?
                //             localStorage.getItem('goalFat') : 0;
            },
            watch: {
                dialogEdit() {
                    this.save();
                },
                settings() {
                    this.save();
                    if (this.importData && !this.settings)
                    {
                        this.history = JSON.parse(this.importData);
                        this.findDateIndex();
                        this.importData = '';
                        this.save();
                    }
                },
            }
        });
    </script>
</html>
